

body {
 font-size: 18px;

}
h1,h2,h3,h4,h5,h6,p {
 line-height: 1.45;
}
h1 { font-size: 4em; }
h2 { font-size: 3em; }

html,body {

    margin:0;
    background:#456BD9;
}

iframe {
    padding-top: 100px;
}

@media (max-width: 530px) {
    iframe {
    padding-top: 20px;
}

.songs {
    font-size: 14px;
  
}

}

.delete {
    width: 18px;
  margin-right:5px; 

}

footer {
   position:fixed;
   left:0px;
   bottom:0px;

   width:100%;
   background:white;
   z-index: 2100
}

.songs {
    padding-top: 5px;
}

#white {
    background-color: white;
    height:100px;
    display: none;
}

a:link {
    color: #456BD9;

}

/* visited link */
a:visited {
    color: #838faf;
}

/* mouse over link */
a:hover {

        color: #96b0f7;
}

/* selected link */
a:active {
    color: blue;
}

#list {
    color: white;
    font-family: 'Montserrat', sans-serif;

        display:none;
        padding: 2px 2px 2px 2px;
}

#alt {
    display:none; 
	padding: 30px 30px 15px 30px; 
}

#mainstream {
	padding: 30px 30px 15px 30px;
    display:none; 
}

@media (max-width: 730px) {

    #alt {

    padding: 10px 10px 5px 10px; 
}

#mainstream {
    padding: 10px 10px 5px 10px; 
}
}


#wrapper {
    position:absolute;
    height:100%;
    width:100%;
    z-index: -100;
}

.panels {
    position:relative;

    width:100%;
    z-index:1000;
}

#a{
    background-color: #456BD9;
    position:fixed;
    top:0;
    z-index:-99;
/*  transform: translateZ(-2px) scale(1.2);*/
}

#b{
margin-top: 50%;
   background:white;

}

@media (max-width: 530px) {
  #b {  margin-top: 125%;
    
    }
    #bpm {
        font-size: 12px;
    }
}

#cloudsimage {
	position: absolute;
	background-image: url("http://i.imgur.com/N1fLXgj.png");
	top: -69px;
	height: 69px;
    background-repeat: repeat-x;
        width: 100%;
        display: none;


}

#cloudsimage2 {
    position: absolute;
    background-image: url("http://i.imgur.com/N1fLXgj.png");
    top:-69px;
    height: 69px;
    background-repeat: repeat-x;
        width: 100%;
  zoom: 110%;

}

#cloudsimage3 {
    position: absolute;
    background-image: url("http://i.imgur.com/z6BQ4Hu.png");
    bottom: -69px;
    height: 69px;
    background-repeat: repeat-x;
        width: 100%;
        display: none;


}



#clickme{

    z-index: 7000;
    cursor: pointer;
}
#bpm {

color: #456BD9
	text-shadow: 1px 1px 1px #000;
	font-family: arial;
	text-align: center;
	width: 100%;
	margin: 0 auto;

}

.white {

  background-color: whitesmoke;
    z-index:100;

}

.clouds {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #456BD9;

    background-repeat: repeat-x;
    background-position: -60% bottom;
    background-size: 32.8125rem;
    padding-bottom: 50px;
    min-height: 500px;

}

.tiki {

position: fixed;
width: 100%;


}



.mains {
	font-family: 'Bowlby One SC', cursive;
	color: whitesmoke;
	letter-spacing: 2px;
}

.altfont {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

.button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
    width: 49%;
    height: 200px;
    font-family: sans-serif;

}

.button:hover {
    background-color: #7CFFBB; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

.button-container {

	text-align: center;
}

@media (max-width: 730px) {
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;  
    height: 125px;
}

.button:hover {
    background-color: #7CFFBB; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}



	}

	@media (max-width: 550px) {
.button {
    background-color: #4CAF50; /* Green */
    border: 1px solid #4CAF50;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
    width: 100%;
    height: 100px;
    cursor: pointer;

}

.button:hover {
    background-color: #7CFFBB; /* Green */
    border: 1px solid black;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
       text-shadow: 1px 1px 1px #000;
    }
}

	
#popbutton{
    background-color: #fbd800; /* Simpson Yellow */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
    width: 49%;
    height: 200px;
    text-shadow: 1px 1px 1px #000;
font-family: 'Montserrat', sans-serif;

}

#popbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 14px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

.button-container {

	text-align: center;
}

@media (max-width: 850px) {
#popbutton {
    background-color: #fbd800;; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 2px 2px 2px;  
	text-shadow: 1px 1px 1px #000;

}

#popbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 14px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
}

	}

@media (max-width: 700px) {
#popbutton {
    background-color: #fbd800;; /* Green */
    border: none;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 2px 2px 2px 2px; 
    text-shadow: 1px 1px 1px #000;    
}

#popbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

	}

	@media (max-width: 627px) {
#popbutton {
    background-color: #fbd800;; /* Green */
    border: 1px solid #fbd800;;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
    width: 100%;
    height: 100px;
    cursor: pointer;
            text-shadow: 1px 1px 1px #000;

}

#popbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}
}

	@media (max-width: 420px) {
#popbutton {
    background-color: #fbd800;; /* Green */
    border: 1px solid #fbd800;;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 12px 2px;
    width: 100%;
    height: 50px;
    cursor: pointer;
            text-shadow: 1px 1px 1px #000;

}

#popbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 12px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;


}
}

#altbutton {
    background-color: #fbd800;; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
    width: 49%;
    height: 200px;
text-shadow: 1px 1px 1px #000;
	font-family: 'Montserrat', sans-serif;

}

#altbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 14px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

#altbutton-container {

	text-align: center;
}

@media (max-width: 850px) {
#altbutton {
    background-color: #fbd800;; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 2px 2px 2px; 
            text-shadow: 1px 1px 1px #000; 
}

#altbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 14px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

	}

@media (max-width: 700px) {
#altbutton {
    background-color: #fbd800;; /* Green */
    border: none;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 2px 2px 2px 2px; 
            text-shadow: 1px 1px 1px #000;
}

#altbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

	}

	@media (max-width: 627px) {
#altbutton {
    background-color: #fbd800;; /* Green */
    border: 1px solid #fbd800;;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 12px 2px;
    width: 100%;
    height: 100px;
    cursor: pointer;
            text-shadow: 1px 1px 1px #000;

}

#altbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;

}
}

	@media (max-width: 420px) {
#altbutton {
    background-color: #fbd800;; /* Green */
    border: 1px solid #fbd800;;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 12px 2px;
    width: 100%;
    height: 50px;
    cursor: pointer;
            text-shadow: 1px 1px 1px #000;

}

#altbutton:hover {
    background-color: #e5ce4b; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;


}
}

	a.button {

    font-family: sans-serif;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
    width: 49%;
    height: 200px;
        text-align:center;
        vertical-align:top;
     line-height:200px;

}

a.button:hover {
    background-color: #7CFFBB; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}


@media (max-width: 730px) {
a.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;  
        height: 125px;
                        text-align:center;
        vertical-align:top;
     line-height:125px;
}

a.button:hover {
    background-color: #7CFFBB; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
                text-align:center;
        vertical-align:top;
     line-height:125px;
}



	}

	@media (max-width: 550px) {
a.button {
    background-color: #4CAF50; /* Green */

    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
    width: 100%;
    height: 100px;
    cursor: pointer;
        text-align:center;
        vertical-align:top;
     line-height:100px;

}

a.button:hover {
    background-color: #7CFFBB; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
       text-shadow: 1px 1px 1px #000;
               text-align:center;
        vertical-align:top;
     line-height:100px;
    }
}

.buttonSC {

    background-color: #FF4800; /* Orange */
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
    width: 49%;
    height: 200px;
    font-family: sans-serif;

}

.buttonSC:hover {
    background-color: #ffb69b; /* Light Orange */
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 2px 4px 4px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}


@media (max-width: 730px) {
.buttonSC {

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;  
    height: 125px;
}

.buttonSC:hover {

    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}



	}

	@media (max-width: 550px) {
.buttonSC {

    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
    width: 100%;
    height: 100px;
    cursor: pointer;

}

.buttonSC:hover {

    border: 1px solid black;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
       text-shadow: 1px 1px 1px #000;
    }
}
#clickme{
        border: 1px solid black;
    background-color: #c2d1fc; 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 0 auto;
    display: block;
    width: 49%;
    height: 100px;
    text-shadow: 1px 1px 1px #000;
font-family: 'Montserrat', sans-serif;
 border-radius: 25px;

}

#clickme:hover {
    background-color: #456bd9; 
    border: 1px solid black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;

        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

.button-container {

    text-align: center;
}

@media (max-width: 850px) {
#clickme {


    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 24px;
    margin: 0 auto; 
    text-shadow: 1px 1px 1px #000;

}

#clickme:hover {

    border: 1px solid black;
    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 24px;
    margin: 0 auto;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
}

    }

@media (max-width: 700px) {
#clickme {
  
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;

    font-size: 24px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px #000;    
}

#clickme:hover {
    
    border: 1px solid black;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 0 auto;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}

    }

    @media (max-width: 627px) {
#clickme {

    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px 2px 2px;
    width: 100%;
    height: 100px;
    cursor: pointer;
            text-shadow: 1px 1px 1px #000;

}

#clickme:hover {

    border: 1px solid black;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 2px 2px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
}
}

    @media (max-width: 420px) {
#clickme {

    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 12px 2px;
    width: 100%;
    height: 50px;
    cursor: pointer;
            text-shadow: 1px 1px 1px #000;

}

#clickme:hover {

    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 12px 2px;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;


}
}

/*
@media only screen  and (min-width : 2324px) {

body {

    margin: 0 300px 0 300px;
    padding: 0 300px 0 300px;
    background:#456BD9;
}


}
*/